a{
    text-decoration: none;
    color: black;
}

.characters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 65vh;
    overflow-x: scroll;

}
.fighters{
    background-color: rgb(124, 139, 139);
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.char-stat{
    display: flex;
}

.char-stat [data-char]{
    display: flex;
    flex-direction: column;
}